

.client-container {
  width: 80%;
  min-height: 300px;
  /* border: 2px solid red; */
  margin: 25px auto;
  font-weight: 900;
}
.client-header {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  width: 100%;
  margin: auto;
  text-align: center;
  border-top: 2px solid rgb(29, 174, 241);
}
.client-main {
  display: flex;
  width: 100%;
}
.client-submenu {
  animation: scroll 40s linear infinite;
  transition: all ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 5);
  position: relative;
  /* border: 2px solid rgb(29, 174, 241); */
  width: 25%;
  text-align: center;
  object-fit: cover;
  margin: 5px;
  padding: 5px;
}

.client-submenu img {
  width: 200px;
  height: 200px;
}
.client-submenu::before {
  left: 0;
  top: 0;
}
.client-submenu::after {
  right: 0;
  top: 0;
  transform: rotateY(180deg);
}

@keyframes scroll {
  
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-200px);
  }
  50% {
    transform: translateX(-400px);
  }
  75% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(-800px);
  }
}
