ul {
  list-style: none;
}

header {
  padding: 0.5rem 0 0;
}
/* Comapany name stylee */

.companyName {
  color: white(18, 15, 15);
  font-size: 26px;
  margin: 10px;
}
#Headernav {
  position: relative;
  top: 0;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headermenu {
  background-color: rgba(6, 82, 221, 1);
  text-align: right;
  width: 100%;
}

.headermenu > li,
.headermenu > i {
  display: inline-block;
  transition: background-color 0.22s ease, color 0.22s ease;
}
.headermenu li {
  padding: 10px;
}
.headermenu i {
  margin-left: 40px;
  text-align: center;
  border: white 2px solid;
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 1rem;
  transition: background-color 0.22s ease, color 0.22s ease;
}
#Headernav img {
  margin-top: 9px;
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.headermenu i:hover {
  background-color: #e61313;
}

@media screen and (width<= 720px) {
  #Headernav {
    position: absolute;
    width: 100%;
    display: flex;
    /* border: 4px solid rgb(0, 255, 42); */
  }
  .headermenu {
    /* border: 4px solid rgb(15, 1, 10); */
    width: 100%;
    display: flex;
    width: 720px;
  }
  .headermenu li {
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    width: 100%;
    display: flex;
    text-align: right;
    position: relative;
  }
}

@media screen and (width<= 560px) {
  #Headernav {
    position: absolute;
    width: 100%;
    display: flex;
    /* border: 4px solid rgb(0, 255, 42); */
  }
  .headermenu {
    /* border: 4px solid rgb(15, 1, 10); */
    width: 100%;
    display: flex;
    width: 560px;
  }
  .headermenu li {
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    width: 100%;
    display: flex;
    text-align: right;
    position: relative;
  }
}
