.ref-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.ref-main {
  width: 1520px;
  height: 600px;
  animation: change 20s linear infinite;
  animation-iteration-count: infinite;
  position: relative;
  background-size: cover;
  background-position: center;
}

@keyframes change {
  0% {
    background-image: url(../../public/front-img/4.jpg);
  }
  20% {
    background-image: url(../../public/safety/safety.jpg);
  }
  40% {
    background-image: url(../../public/safety/storate-spl.jpg);
  }
  60% {
    background-image: url(../../public/safety/thermal2.jpg);
  }
  80% {
    background-image: url(../../public/safety/refinery.jpg);
  }
  100% {
    background-image: url(../../public/safety/steel.avif);
  }
}
.text-main1 span {
  position: absolute;
  font-size: 50px;
  width: 500px;
  height: 100px;
  text-align: center;
  top: 150px;
  left: 250px;
  justify-content: center;
  word-break: normal;
  transition-delay: 250ms;
  animation: scale 20s infinite linear;
}
.text-main1 ::before {
  color: white;
  content: "";
  animation: change1 20s ease-in-out infinite;
}

.contactUs {
  text-transform: uppercase;
  align-items: center;
  padding: 1px;
  position: relative;
  width: 100px;
  height: 30px;
  top: 200px;
  left: 850px;
  color: white;
  background-color: black;
  animation: slide-contact 10s linear;
  border-radius: 50px;
}

@keyframes slide-contact {
  from {
    transform: translateX(280px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes slide-span {
  from {
    transform: translateX(-180px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes scale {
  100% {
    transform: scaleX(1.5) scaleY(1.5);
  }
}
@keyframes change1 {
  0% {
    content: "PowerTools";
  }
  20% {
    content: "Industrial Safety Equipments";
  }
  40% {
    content: "Storage Solutions";
  }
  60% {
    content: "Thermal Gas & Power Turbin";
  }
  80% {
    content: "Refinery";
  }
  100% {
    content: "Steel";
  }
}
