.ref-container {
  position: relative;
  top: 28px;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
  display: flex;
}

.ref-main {
  width: 100%;
  height: 600px;
  animation: change 20s linear infinite;
  animation-iteration-count: infinite;
  position: relative;
  background-size: cover;
  background-position: center;
}
.EnquiryNow {
  color: white;
  border-radius: 20px;
  text-align: center;
  align-items: center;
  position: relative;
  height: 40px;
  top: 405px;
  text-transform: uppercase;
  left: 440px;
  padding: 5px;
  background-color: blue;
  width: 10%;
  cursor: pointer;
}

@keyframes change {
  0% {
    background-image: url(../../public/front-img/4.jpg);
  }
  20% {
    background-image: url(../../public/safety/safety.jpg);
  }
  40% {
    background-image: url(../../public/safety/storate-spl.jpg);
  }
  60% {
    background-image: url(../../public/front-img/therm.jpg);
  }
  80% {
    background-image: url(../../public/front-img/refin.jpg);
  }
  100% {
    background-image: url(../../public/front-img/steel.avif);
  }
}
.text-main1 span {
  position: absolute;
  font-size: 50px;
  width: 500px;
  height: 100px;
  text-align: center;
  top: 150px;
  left: 250px;
  justify-content: center;
  word-break: normal;
  transition-delay: 250ms;
  animation: scale 20s infinite linear;
}
.text-main1 ::before {
  color: white;
  content: "";
  animation: change1 20s ease-in-out infinite;
}

.contactUs {
  text-transform: uppercase;
  align-items: center;
  padding: 1px;
  position: relative;
  width: 100px;
  height: 30px;
  top: 200px;
  left: 850px;
  color: white;
  background-color: black;
  animation: slide-contact 3s linear;
  border-radius: 50px;
}

@keyframes slide-contact {
  from {
    transform: translateX(100px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes slide-span {
  from {
    transform: translateX(-180px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes spin {
  100% {
    transform: rotate(180deg);
  }
}

@keyframes scale {
  100% {
    transform: scaleX(1.5) scaleY(1.5);
  }
}
@keyframes change1 {
  0% {
    content: "PowerTools";
  }
  20% {
    content: "Industrial Safety Equipments";
  }
  40% {
    content: "Storage Solutions";
  }
  60% {
    content: "Thermal Gas & Power Turbin";
  }
  80% {
    content: "Refinery";
  }
  100% {
    content: "Steel";
  }
}

@media screen and (max-width: 720px) {
  .ref-container {
    top: 150px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .ref-main {
    width: 720px;
    height: 350px;
    animation: change 20s linear infinite;
    animation-iteration-count: infinite;
    position: relative;
    background-size: cover;
    background-position: center;
  }
  .text-main1 span {
    position: absolute;
    font-size: 20px;
    width: 200px;
    height: 100px;
    text-align: center;
    top: 55px;
    color: greenyellow;
    left: 45px;
    justify-content: center;
    word-break: normal;
    transition-delay: 250ms;
    animation: scale 20s infinite linear;
  }
  .text-main1 ::before {
    color: white;
    content: "";
    animation: change1 20s ease-in-out infinite;
  }

  .contactUs {
    text-transform: uppercase;
    align-items: center;
    padding: 1px;
    position: relative;
    width: 60px;
    height: 20px;
    /* top: 120px; */
    left: 50px;
    color: white;
    background-color: rgb(48, 12, 226);
    animation: slide-contact 10s linear;
    border-radius: 50px;
  }
  .contactUs p {
    position: relative;
    top: 3px;
    align-items: center;
    text-align: center;
    font-size: 8px;
  }
}

@media screen and (max-width: 426px) {
  .ref-container {
    top: 47px;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .ref-main {
    width: 720px;
    height: 350px;
    animation: change 20s linear infinite;
    animation-iteration-count: infinite;
    position: relative;
    background-size: cover;
    background-position: center;
  }
  .text-main1 span {
    position: absolute;
    font-size: 20px;
    width: 200px;
    height: 100px;
    text-align: center;
    top: 55px;
    color: greenyellow;
    left: 45px;
    justify-content: center;
    word-break: normal;
    transition-delay: 250ms;
    animation: scale 20s infinite linear;
  }
}
