.indcontent {
  width: 30%;
}

.powercontent {
  border-top: 2px solid rgb(50, 28, 246);
  width: 70%;
  height: 50px;
  margin: 10px auto;
  text-align: center;
  color: rgb(25, 11, 134);
  align-items: center;
  text-transform: uppercase;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-shadow: 0 7px 20px rgba(0, 0, 0, 5);
}

.powertools_cnt {
  background-image: url("../../public/bkg_img/bkg11.avif");
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 5);
  width: 100%;
}
.sub-menu {
  width: 30%;
}
.sub-menu1 {
  width: 70%;
}
.powertools_nav {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 30px auto;
}
.nav-content {
  text-align: center;
  position: relative;
  background-color: rgb(216, 212, 212);
  /* top: 50px; */
  width: 70%;
  line-height: 30px;
}
.nav-menu {
  color: rgb(36, 200, 245);
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
}
.powertools_main {
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 5); */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 30px auto;
}
.power-img {
  width: 25%;
}
.power-img img {
  /* border: 2px solid red; */
  text-align: center;
  border-radius: 10px;
  margin: 10px auto;
  background-size: cover;
  width: 400px;
  height: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 5);
}

.drills-div {
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 5); */
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}

.lt-animate-right {
  /* bottom: 15%; */
  position: relative;
  animation: linear infinite;
  animation-name: right;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-duration: 1s;
  transition: all ease-in-out;
  opacity: 1;
}

.lt-animate-left {
  /* bottom: 15%; */
  position: relative;
  animation: linear infinite;
  animation-name: left;
  animation-iteration-count: 1;
  animation-direction: forwards;
  animation-duration: 1s;
  transition: all ease-in-out;
  opacity: 1;
}

@keyframes right {
  0% {
    opacity: 0;
    left: -100%;
  }
  50% {
    opacity: 0;
  }
  100% {
    left: 0%;
  }
}

@keyframes left {
  0% {
    opacity: 0;
    right: -100%;
  }
  50% {
    opacity: 0;
  }
  100% {
    right: 0%;
  }
  /* 100% {
          left: 0%;
        } */
}
.thermal-cont {
  position: relative;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.thermal-inn {
  background-image: url(../../public/Refi/therm6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 5);
  margin: auto;
  width: 80%;
}

.thermal-inn h1 {
  border-bottom: goldenrod;
  font-size: 40px;
  text-align: center;
  border-bottom: 2px solid white;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  align-items: center;
}

.therm-content {
  width: 80%;
  margin: auto;
}
.therm-content h3 {
  text-align: center;
  color: white;
  padding: 10px;
}
